* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #1a1a1a;
}

body::selection {
    background-color: yellow;
    color: black;
}
header{
    z-index: 99;
}

#first {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgb(54, 54, 28);
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.barline {
    height: 50px;
    width: 50%;
    border: 1px solid rgb(61, 54, 19);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.barline li a {
    text-decoration: none;
    color: white;
}

.barline li:hover {
    border-bottom: 2px solid yellow;
}

.barline li a:hover {
    color: yellow;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    padding: 5px 25px;
    font-size: 16px;
    line-height: 1.8;
    min-height: 48px;
}

#menu {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 1.8;
    min-height: 48px;
}
#menu:hover{
    border: 2px solid rgb(54, 54, 28);
    background-color: transparent;
    color: yellow;
}

#svg_icon {
    color: white;
}

#svg_icon:hover {
    color: yellow;
}

.sectain1 {
    height: 500px;
    width: 100%;
    margin: 50px auto 0px auto;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.spn1 {
    color: yellow;
}

.box_01 {
    width: 80%;
    z-index: 99;
}

.box_01 h1 {
    font-size: 65px;
    line-height: 1.3;
    font-family: 'Oswald';
}

.boxp {
    font-size: 18px;
    line-height: 1.8;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

/* ---- BEGIN: particles.js  ---- */
canvas {
    display: block;
    /* vertical-align: bottom; */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

/* ---- END: particles.js  ---- */
/* ----    BEGIN: details_box  ---- */
#details_box {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 100px;

}

.details_box1 {
    width: 35%;
    height: 250px;
    border: 2px solid #8f8f8f;
    color: white;
    border-radius: 30px;
    padding: 30px 0px 0px 60px;
}
.details_box1:hover{
    background-color: rgb(37, 37, 26);
}

.details_box1 h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 2.3;
}

.details_box1 p {
    line-height: 1.8;
    width: 85%;
}
.details_box1 h4:hover{
    color: #d7ee0c;
}
.details_box1 p:hover{
color: yellow;
}

/* ----    End: details_box  ---- */
/* ----    BEGIN: globile section  ---- */
#sec03 {
    height: 51rem;
    width: 100%;
    margin-top: 50px;
}

.globle_main {}

.globle_main h1 {
    margin-bottom: 50px;
    max-width: 700px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 58px;
    font-family: 'Oswald';
    padding-left: 120px;
    text-transform: uppercase;
    color: white;
}

.globil_img {
    text-align: center;
}

.globil_img img {
    width: 80%;
}

/* ----    End: globile section  ---- */
/* ----    End: globile section  ---- */
.main_illustration {
    height: 400px;
    width: 80%;
    margin: auto;
    background-color: yellow;
    border-radius: 30px;
}

.illustration {
    display: flex;
    align-items: center;
    padding: 50px 80px;
    border-radius: 30px; 

}

.illustration h2 {
    padding: 0px 50px;
    font-family: 'Oswald';
    font-size: 58px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.main_illustration1 {
    height: 500px;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    background-color: yellow;
    border-radius: 30px;
}

.illustration1 {
    border-radius: 30px;
    text-align: center;
}

.illustration1 h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

/* ---- BEGIN:section footer  ---- */
footer {
    height: 23rem;
    width: 80%;
    background-color:  #131213;
    margin: 50px auto;
    border-radius: 16px;
    padding: 40px 0px;
}

.ftr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 0px 50px;
}

.ftr h4 {
    text-align: center;
}

.left {
    width: 30%;
    text-align: center;
}

.left img {
    margin-bottom: 20px;
}

.usa {
    width: 100%;
    display: flex;
    gap: 40px;
}

.left p {
    line-height: 29px;
    margin-bottom: 10px;
}

.left a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icons a i {
    font-size: 1em;
    color: white;
}

.icons a:hover i {
    color: #f4f448;
    transform: scale(1.1);
}

#w-color {
    color: yellow;
}

.center {
    text-align: center;
    width: 40%;
}

.center h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.center p {
    line-height: 24px;
}

.center p strong {
    color: #f4f448;
    margin-right: 10px;
}

.right {
    width: 20%;
    text-align: center;
}

.right h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.right .links ul {
    padding: 0;
}

.right .links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.right .links ul li a {
    text-decoration: none;
    color: white;
}

.top_border {
    border-top: 1px solid #454545;
    margin-top: 30px;
    padding: 15px 50px 0 50px;
}

.top_border>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_border small {
    color: white;
    /* white color */
}

.top_border .condition ul {
    display: flex;
    gap: 15px;
    padding: 0;
}

.top_border .condition ul li {
    list-style: none;
}

.top_border .condition ul li a {
    text-decoration: none;
    color: white;
}
    .top_border2 {
    border-top: 1px solid #454545;
    text-align: center;
    margin-top: 10px;
    
}
.ftr_aline{
    height: 130px;
    width: 100%;
}
    .top_border2 .condition ul li {
    list-style: none;
    line-height: 30px;
}
/* .condition{ 
    width: 100%;
} */

.top_border2 .condition ul li a {
    text-decoration: none;
    color: white;
}
.top_border2 small {
    flex-wrap: wrap;
    line-height: 50px;
    color: white;
}


/* ---- END:section footer  ---- */


#details_box2,
#sec004,
.top_border2 {
    display: none;
}

@media (max-width:769px) and (min-width:420px) {

    #first,
    #details_box,
    #sec04,
    .top_border {
        display: none;
    }

    #details_box,
    #sec004,
    .top_border2 {
        display: flex;
    }

    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color:  #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .sectain1 {
        height: 500px;
        margin: 100px auto 0px auto;
    }

    #details_box {
        height: 75rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .details_box1 {
        width: 75%;
        row-gap: 10px;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }
    #sec03 {
        height: 30rem;
        width: 100%;
    }
    .globle_main h1 {
        max-width: 350px;
        font-size: 38px;
        line-height: 50px;
        padding-left: 10%;
    }

    footer{
        height: 60rem;
    }

}

@media (max-width:1080px) and (min-width:768px) {

    #sec01,
    #sec04,
    .top_border {
        display: none;
    }

    #sec02,
    #sec004,
    .top_border2 {
        display: block;
    }

    #details_box {
        height: 75rem;
        width: 100%;
    }

    .details_box1 {
        width: 72%;
        row-gap: 10px;
    }

    .globle_main h1 {
        padding-left: 60px;
        max-width: 450px;
        font-size: 50px;
        line-height: 55px;
    }

    #sec03 {
        height: 40rem;
        width: 100%;
    }
}

@media only screen and (max-width: 419px) {

    #first,
    #sec04,
    .top_border{
        display: none;
    }
    #sec004,
    .top_border2{
        display: block;
    }

    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color:  #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .sectain1 {
        margin: 80px auto 0px auto;
    }

    .searchbar {
        width: 17%;
    }

    .logo {
        display: inline;
    }

    #details_box {
        height: 86rem;
    }

    .details_box1 {
        width: 75%;
        height: 300px;
    }
    .globle_main h1{
        font-size: 30px;
        padding-left: 20px;
        line-height: 45px;
    }
    #sec03{
     height: 22rem;
    }
    #details_box{
        height: 90rem;
    }
    .details_box1{
        height: 320px;
        width: 80%;
        padding: 20px 0px 0px 20px;
    }
    footer{
        height: 60rem;
    }
    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding: 0px 24px 0px 0px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        align-items: center;
        display: block;
        width: 100%;
        margin: 20px;
    }
    .top_border{
        padding: 0px ;
    }


}