
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #1a1a1a;
}

body::selection {
    background-color: yellow;
    color: black;
}

/* ----    BEGNIN: header section  ---- */
header {
    z-index: 99;
}

#first {
    height: 90px;
    width: 100%;
    /* border-bottom: 1px solid rgb(54, 54, 28); */
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.barline {
    height: 60px;
    width: 40%;
    border: 1px solid rgba(251, 255, 41, .3);
    list-style: none;
    display: flex;
    font-family: 'poppins';
    padding: 3px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.barline li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.8;
}

.barline li:hover {
    border-bottom: 2px solid yellow;
}

.barline li a:hover {
    color: yellow;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 1.8;
    min-height: 48px;
}

#menu:hover {
    border: 2px solid rgb(54, 54, 28);
    background-color: transparent;
    color: yellow;
}

#svg_icon {
    color: white;
}

#svg_icon:hover {
    color: yellow;
}

/* ----    END: header section  ---- */
/* ---- BEGIN: particles.js  ---- */
canvas {
    display: block;
    /* vertical-align: bottom; */
}
.services-box{

}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    z-index: 1;
}

/* ---- END: particles.js  ---- */
/* ----    BEGIN: services  ---- */
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
/* ----    END: services  ---- */
/* ----    BEGIN: details_box  ---- */

/* #details_box {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}

.details_box1 {
    width: 100;
    height: 230px;
    border: 2px solid #8f8f8f;
    color: white;
    border-radius: 30px;
    padding: 50px 0px 0px 30px;
    transition: all 0.5s linear;
}

.details_box1:hover {
    transform: translateY(-2px);
    
}
.details_box1:hover .spn1{
    color: yellow;
    transition: all 0.30s linear;
}
.details_box1:hover h4{
    color: yellow;
    transition: all 0.50s linear;

}
.details_box1 h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 2.9;
    font-family: 'Oswald';
}

.details_box1 p {
    line-height: 1.8;
    width: 85%;
} */

/* ----    End: details_box  ---- */
/* ---- BEGIN:section footer  ---- */



@media (max-width:769px) and (min-width:420px) {

    #first {
        display: none;
    }


    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color:  #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }

}

@media (max-width:1080px) and (min-width:768px) {

}

@media only screen and (max-width: 419px) {

    #first{
        display: none;
    }
    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color:  #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }
    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding: 0px 24px 0px 0px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        align-items: center;
        display: block;
        width: 100%;
        margin: 20px;
    }
    .top_border{
        padding: 0px ;
    }


}