* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #1a1a1a;
}

body::selection {
    background-color: yellow;
    color: black;
}
header{
    z-index: 99;
}

#first {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid rgb(54, 54, 28);
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.barline {
    height: 50px;
    width: 50%;
    border: 1px solid rgb(61, 54, 19);
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.barline li a {
    text-decoration: none;
    color: white;
}

.barline li:hover {
    border-bottom: 2px solid yellow;
}

.barline li a:hover {
    color: yellow;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#menu {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 1.8;
    min-height: 48px;
}
#menu:hover{
    border: 2px solid rgb(54, 54, 28);
    background-color: transparent;
    color: yellow;
}

#svg_icon {
    color: white;
}

#svg_icon:hover {
    color: yellow;
}
/* --- END :: section footer---- */
/* --- BEGAIN :: section BELOG---- */

.sectain1 {
    height: 500px;
    width: 100%;
    margin: 50px auto 0px auto;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.spn1 {
    color: yellow;
}
/* --- END :: section BELOG---- */
/* --- START :: section js---- */
canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}
/* --- END :: section js---- */

/* --- BEGAIN :: section infornation---- */
.container {
    height: 40rem;
    width: 80%;
    margin: auto;
    background-image: url(/Diligent/download.png);
    color: white;
}

.box {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spn1 {
    color: yellow;
}

.box p {
    line-height: 29px;
    margin-top: 30px;
}

/* --- END :: section infornation---- */


