* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #1a1a1a;
}

body::selection {
    background-color: yellow;
    color: black;
}

/* ----    BEGNIN: header section  ---- */
header {
    z-index: 99;
}

#first {
    height: 90px;
    width: 100%;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.barline {
    height: 60px;
    width: 40%;
    border: 1px solid rgba(251, 255, 41, .3);
    list-style: none;
    display: flex;
    font-family: 'poppins';
    padding: 3px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.barline li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.8;
}

.barline li:hover {
    border-bottom: 2px solid yellow;
}

.barline li a:hover {
    color: yellow;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 1.8;
    min-height: 48px;
}

#menu:hover {
    border: 2px solid rgb(54, 54, 28);
    background-color: transparent;
    color: yellow;
}

#svg_icon {
    color: white;
}

#svg_icon:hover {
    color: yellow;
}
#second {
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #191919;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: o;
}
/* ----    END: header section  ---- */



/* ----Begin: carer secation ---- */
.container {
    height: 40rem;
    width: 80%;
    margin: auto;
    background-image: url(/Diligent/download.png);
    color: white;

}

.box {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.spn1 {
    color: yellow;
}

.box p {
    line-height: 29px;
    margin-top: 30px;
}

/* ----END: carer secation ---- */
/* ----Begin: js secation ---- */

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #191919;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}

/* ----End: js secation ---- */
/* ----Begin: img secation ---- */

.main_img {
    /* height: 800px; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.corve_img img {
    /* height: 350px; */
    border: 1px solid yellow;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 5rem;
}

/* ----END: img secation ---- */
/* ----Begin: card_part secation ---- */

.card_part {
    height: 300px;
    width: 80%;
    margin: auto;
}

.card_part h2 {
    height: 300px;
    width: 100%;
    font-size: 58px;
    line-height: 75px;
    font-weight: 600;
    align-items: center;
}

.card_color {
    color: white;
}

.card2_color {
    color: yellow;
}

/* ----END: card_part secation ---- */
/* ----Begin: container_box secation ---- */

.container_box {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
}

.box1 {
    border: 2px solid red;
    height: 250px;
    width: 43%;
    border: 1px solid white;
    color: white;
    padding: 30px 30px 0px 30px;
    border-radius: 30px;
    transition: all 1s linear;
    line-height: 29px;
}

.box1:hover {
    background-color: rgb(80, 80, 45);
    transform: translateY(2px);
}

.box1 img {
    height: 50px;
    width: 50px;
}

.box1:hover h3 {
    color: yellow;
}

/* ----END: container_box secation ---- */
/* ----Begin: form secation ---- */


.heading1 {
    height: 120px;
    width: 80%;
    margin: 50px auto;
    color: white;
}

.heading1 h2 {
    font-size: 50px;
    font-weight: 700;
}

.spn9 {
    color: yellow;
}

form {
    height: 500px;
    width: 80%;
    margin: auto;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 50px;
    background-color: black;
}

.line1 {
    width: 96%;
    display: flex;
    gap: 20px;
}

.inline {
    height: 70px;
    width: 96%;
}

.inline input {
    height: 35px;
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
    background-color: #2b2828;
    border: 1px solid white;
    color: white;
}

.line2 input {
    width: 100%;
}

.lin2 input {
    height: 35px;
    width: 100%;
    background-color: #2b2828;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}

.line3 {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio1 {
    margin-top: 26px;
    background-color: #2b2828;
    border-radius: 20px;
    padding: 7px 30px;
}

.radio1::selection {
    background-color: yellow;
    color: black;
}

.radio1 input {
    height: 1px;
    width: 1px;
}

.slected {
    background-color: yellow;
    color: black;
}

.line4 input {
    margin-top: 20px;
    margin-bottom: 7px;
    height: 30px;
    width: 100%;
    border: 1px solid white;
    background-color: #2b2828;
    border-radius: 10px;
    font-size: 20px;
}

small {
    color: #2B283F;
    margin-top: 5px;
}

.space {
    margin: 20px;
}

#submit {
    margin: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: yellow;
    color: black;
    border: none;
}

/* ----END: form secation ---- */



/* ---- BEGIN:section footer  ----  */
#section_footer {
    margin-top: 200px;
    width: 100%;
}

footer {
    width: 80%;
    background-color: #131213;
    margin: 50px auto;
    border-radius: 16px;
    padding: 40px 0px;
}

.ftr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 0px 50px;
}

.ftr h4 {
    text-align: center;
}

.left {
    width: 30%;
    text-align: center;
}

.left img {
    margin-bottom: 20px;
}

.usa {
    width: 100%;
    display: flex;
    gap: 40px;
}

.left p {
    line-height: 29px;
    margin-bottom: 10px;
}

.left a {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icons a i {
    font-size: 1em;
    color: white;
}

.icons a:hover i {
    color: #f4f448;
    transform: scale(1.1);
}

#w-color {
    color: yellow;
}

.center {
    text-align: center;
    width: 40%;
}

.center h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.center p {
    line-height: 24px;
}

.center p strong {
    color: #f4f448;
    margin-right: 10px;
}

.right {
    width: 20%;
    text-align: center;
}

.right h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.right .links ul {
    padding: 0;
}

.right .links ul li {
    list-style: none;
    margin-bottom: 10px;
}

.right .links ul li a {
    text-decoration: none;
    color: white;
}

.top_border {
    border-top: 1px solid #454545;
    margin-top: 30px;
    padding: 15px 50px 0 50px;
}

.top_border>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_border small {
    color: white;
}

.top_border .condition ul {
    display: flex;
    gap: 15px;
    padding: 0;
}

.top_border .condition ul li {
    list-style: none;
}

.top_border .condition ul li a {
    text-decoration: none;
    color: white;
}

.top_border2 {
    border-top: 1px solid #454545;
    text-align: center;
    margin-top: 10px;

}

.ftr_aline {
    height: 130px;
    width: 100%;
}

.top_border2 .condition ul li {
    list-style: none;
    line-height: 30px;
}

.top_border2 .condition ul li a {
    text-decoration: none;
    color: white;
}

.top_border2 small {
    flex-wrap: wrap;
    line-height: 50px;
    color: white;
}

/* ---- END:section footer  ---- */
#second,
.top_border2 {
    display: none;
}

@media (max-width:1000px) and (min-width:769px) {

    .top_border2,
    #first {
        display: none;
    }

    .top_border,
    #second {
        display: block;
    }

    .box1 {
        height: 260px;
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    footer {
        width: 90%;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }

    .top_border2 .condition ul li a {
        font-size: 10px;
    }

    .top_border2 small {
        font-size: 10px;
    }
}

@media (max-width:767px) and (min-width:420px) {

    #first,
    .top_border {
        display: none;
    }

    .top_border2 {
        display: flex;
    }

    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color: #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .inner_div {
        flex-direction: column;
    }

    .hover {
        height: 57%;
        top: 44%;
        transition: none;

    }

    .img1 {
        height: 400px;
        width: 80%;
    }

    .first_img img {
        height: 400px;
    }

    .hover p {
        color: white;
    }






    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }
}

@media only screen and (max-width: 300px) {
    .top_border {
        display: none;
    }

    .top_border2 {
        display: block;
    }

    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color: #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .inner_div {
        flex-direction: column;
    }

    .first_img img {
        width: 100%;
        height: 410px;
    }

    .hover {
        height: 100%;
        top: 15;
        padding: 10px;
        transition: none;

    }

    .img1 {
        height: 400px;
        width: 85%;
    }

    .hover p {
        color: white;
    }

    .box_01 h1 {
        font-size: 30px;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding: 0px 24px 0px 0px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        align-items: center;
        display: block;
        width: 100%;
        margin: 20px;
    }

    .top_border {
        padding: 0px;
    }
}

@media (max-width:419px) and (min-width:301px) {
    .top_border {
        display: none;
    }

    .top_border2 {
        display: block;
    }

    #second {
        display: flex;
        height: 90px;
        width: 100%;
        background-color: #191919;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: o;
    }

    .inner_div {
        flex-direction: column;
    }

    .first_img img {
        width: 100%;
        height: 410px;
    }

    .hover {
        height: 100%;
        top: 30%;
        padding: 10px;
        transition: none;

    }

    .img1 {
        height: 400px;
        width: 85%;
    }

    .hover p {
        color: white;
    }

    .box_01 h1 {
        font-size: 30px;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding: 0px 24px 0px 0px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .left a {
        font-size: 10px;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        align-items: center;
        display: block;
        width: 100%;
        margin: 20px;
    }

    .top_border {
        padding: 0px;
    }


}

@media screen and (max-width: 769px) {

    .first,
    .second {
        display: none;
    }

    .third {
        height: 70px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 290px;
        position: fixed;
        left: 0;
        top: 0;
    }


    .box1 {
        height: 300px;
        width: 80%;
        row-gap: 10px;
    }

    .container_box {
        display: grid;
        grid-template-columns: 80%;
        margin: auto;
    }

    .ftr {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }

    .globle_main h1 {
        max-width: 350px;
        font-size: 38px;
        line-height: 50px;
        padding-left: 10%;
    }
}

@media screen and (min-width: 200px) and (max-width:768) {

    .first,
    .second,
    .top_border {
        display: none;
    }

    .third {
        height: 90px;
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 30px;
    }

    .main_img {
        margin: auto;

    }

    form {
        height: 1200px;
    }

    .line1 {
        flex-wrap: wrap;
    }

    .ftr {
        padding-bottom: 30px;
        margin-bottom: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .center {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .usa {
        display: block;
        width: 100%;
        margin: 20px;
    }

}